<%= render '/layouts/d3_menu' %>

<div class="refresh_area">
  <%= link_to '데이터 갱신하기', 'javascript:void(0);', :class => 'refresh_btn' %>
</div>

<script>
  $(document).ready(function (e) {
    WY.views.d3_practice_03_view();
  });
</script>