.menu {
  position:fixed;
  top:20px;
  left:20px;
  width:250px;

  background-color:#222;
  .padding_wrapper {
    padding:20px;

    ul li  {
      margin-bottom:10px;
    }
    a {
      color:white;
      text-decoration: underline;
    }
  }
}

.svg_area {
  position:absolute;
  left:50%;
  top:50%;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size:11px;
}

.refresh_area {
  position:absolute;
  left:50%;
  margin-left: -30px;
  top: 30px;

}