<div class="menu">
  <div class="padding_wrapper">
    <ul>
      <li>
        <%= link_to '세계지도 기본 그리기', root_path %>
      </li>

      <li>
        <%= link_to '한국지도 기본 그리기', practice_02_path %>
      </li>
    </ul>
  </div>
</div>
